<!-- Footer -->
<footer class="footer">
  <div class="container container--wide">
    <div
      class="footer__inner">
      <!-- Left: Logo & Address -->
      <div class="footer__brand">
        <div class="footer__brand__logo">
          <a href="/" class="logo">
            <img src="/assets/kiener-logo-dark.svg" alt="Logo" class="logo__image logo__image--dark"/>
          </a>
          <p class="p _lg">Is onderdeel van
            <a href="https://meneerkooi.nl" class="link-inherit link-inherit--underline" target="_blank">Meneer Kooi</a>
          </p>
        </div>
        <div class="footer__brand__info">
          <address class="p _lg">
            Zeppelinlaan 2<br/> 9207 JG Drachten
          </address>
        </div>
      </div>
      <!-- Right: Columns -->
      <div class="footer__columns">
        <div class="footer__column">
          <h4 class="footer__column-title">Shop</h4>
          <ul class="footer__column-list">
            <li>
              <a href="#">Trapliften</a>
            </li>
            <li>
              <a href="#">Rollator</a>
            </li>
            <li>
              <a href="#">Sta-op stoelen</a>
            </li>
            <li>
              <a href="#">Rolstoelen</a>
            </li>
            <li>
              <a href="#">Scootmobielen</a>
            </li>
            <li>
              <a href="#">Bedden</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h4 class="footer__column-title">Over Kiener</h4>
          <ul class="footer__column-list">
            <li>
              <a href="#">Onze service</a>
            </li>
            <li>
              <a href="#">Levering & Retour</a>
            </li>
            <li>
              <a href="#">Klantenservice</a>
            </li>
          </ul>
        </div>
        <div class="footer__column footer__column--newsletter">
          <h4 class="footer__column-title">Nieuwsbrief</h4>
          <p class="p">
            Ontvang updates over nieuwe producten en ontvang 10% korting op je eerste aankoop
          </p>
          <form class="newsletter-form">
            <input type="email" placeholder="Jouw e-mailadres" required/>
            <button type="submit" class="btn btn--filled btn--primary">Meld je aan</button>
          </form>
          <div class="footer__social">
            <h4 class="footer__column-title">Volg ons</h4>
            <div class="social-links">
              <a href="#" class="social-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
              </a>
              <a href="#" class="social-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Sub Footer -->
<div class="subfooter">
  <div class="container container--wide">
    <div class="subfooter__inner">
      <div class="subfooter__right">
        <a href="#" class="quick-link">Algemene voorwaarden</a>
        <a href="#" class="quick-link">Privacy verklaring</a>
        <a href="#" class="quick-link">Cookie voorkeuren</a>
      </div>
    </div>
  </div>
</div>