<nav class="preheader" aria-label="Preheader">
  <div class="container preheader__inner">
    <div class="preheader__nav">
      <a href="#" class="quick-link">Gratis verzending vanaf €50,-</a>
      <a href="#" class="quick-link"
        >Vandaag besteld, binnen een week geleverd</a
      >
      <a href="#" class="quick-link">4.7/5 (1900+ reviews)</a>
    </div>
  </div>
</nav>

<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="nav" aria-label="Main navigation">
        <ul class="nav__nav-list">
          <li class="nav__item">
            <a href="/" class="nav__nav-link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__nav-link">
              <span
                class="hamburger"
                aria-label="Toggle menu"
                aria-expanded="false">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
              </span>
              Categorieën
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__nav-link">Service</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__nav-link">Over ons</a>
          </li>
        </ul>
      </nav>
      <div class="header__logo">
        <a href="/" class="logo">
          <img
            src="/assets/kiener-logo-dark.svg"
            alt="Logo"
            class="logo__image logo__image--dark" />
          <img
            src="/assets/kiener-logo-white.svg"
            alt="Logo"
            class="logo__image logo__image--light" />
        </a>
      </div>
      <div class="header__actions">
        <div class="header__search search search--md">
          <input
            type="search"
            class="search__input"
            placeholder="Search..."
            aria-label="Search" />
          <button
            type="submit"
            class="search__button"
            aria-label="Submit search">
            <svg class="search__icon" width="16" height="16">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
        </div>
      </div>
      <a href="#" class="nav__nav-link">Login</a>
      <button
        id="menu-toggle"
        class="hamburger"
        aria-label="Toggle menu"
        aria-expanded="false">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>
    </div>
  </div>
</header>
