@use '../abstracts/mixins' as *;

// ============================================
// Container
// ============================================

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);

  &--fluid {
    max-width: 100%;
  }

  &--narrow {
    max-width: 960px;
  }

  &--wide {
    max-width: 1440px;
  }

  &--lg {
    max-width: 1236px;
  }
}

.section {
  padding-block: var(--section-spacing);

  &--no-padding {
    padding-block: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
