@use '../abstracts/mixins' as *;

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transform: translate(0, 0);

  &__inner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-top: 10vh;
    padding-bottom: 6vh;
    gap: 2rem;
    min-height: calc(100vh - 32px);
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;

      background: linear-gradient(
        180deg,
        var(--color-charcoal-grey) 0%,
        rgba(34, 34, 34, 0) 100%
      );
      mix-blend-mode: color-burn;
      opacity: 0.55;
      z-index: 1;
    }
    &-image {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      display: block;
      // object-fit: cover;
      // object-position: bottom center;
      z-index: -1;
    }
    &-woman {
      position: absolute;
      left: 37.2916%;
      top: 44.5595%;
      width: 17.5%;
      height: auto;
      z-index: 10;
      display: block;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding: 7vh 0;
    gap: 3.125em;
    max-width: 57.375rem; // 918px
    color: var(--color-soft-alabaster);

    &__group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 1em; // 16px
    }

    h1 {
      color: var(--color-soft-alabaster);
      margin: 0;
    }
    p {
      color: var(--color-soft-alabaster);
      margin: 0;
      max-width: 36rem; // 576px
    }

    &__cta {
      display: flex;
      flex-direction: column; // Changed from column if they should be side by side
      align-items: flex-start;
      padding: 0;
      gap: 0.75rem; // 12px

      .button {
        max-width: 250px;
      }
    }
  }
  &__news {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;

    .product-card {
      width: 215px;
    }
  }
}
.sale {
  position: relative;
  background: var(--color-mellow-apricot);
  padding-bottom: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 8vh;

    .subtitle {
      text-transform: uppercase;
      font-weight: var(--font-weight-medium);
      font-size: 2rem;
      line-height: 100%;
      color: var(--color-ocean-blue-dark);
    }
    .h2 {
      color: var(--color-charcoal-grey);
      line-height: 1;
      letter-spacing: -0.01em;
    }
  }
  &__banner {
    width: 55%;
    flex-shrink: 0;

    .ratio-image {
      width: 100%;
      padding-bottom: 62%; // Adjusted for banner aspect ratio
      z-index: 0;

      img {
        position: absolute;
        width: 38%;
        height: auto;

        &:nth-child(1) {
          top: 5%;
          left: 2%;
        }
        &:nth-child(2) {
          top: 1%;
          left: 50%;
          width: 40%;
          z-index: 1;
          transform: translateX(-48%);
        }
        &:nth-child(3) {
          top: 5%;
          left: unset;
          right: 2%;
        }
      }
    }
  }
  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    pointer-events: none;

    span {
      position: absolute;
      padding: 0.15em 0;

      font-family: var(--font-primary);
      font-style: normal;
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-2xl);
      line-height: 100%;
      text-transform: uppercase;
      white-space: nowrap;

      color: var(--color-white);
      background: var(--color-ocean-blue-dark);

      &:nth-child(1) {
        top: 0;
        right: -20%;
        text-align: center;
        transform: translate(25%) rotate(43deg);
      }
      &:nth-child(2) {
        top: 0;
        right: -20%;
        text-align: center;
        transform: translate(16%) rotate(25deg);
      }
    }
  }
}
.categories {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    .category-card {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
.products {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .h3 {
      color: var(--color-charcoal-grey);
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
  }
}
.support-section {
  background: var(--color-soft-alabaster);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__header {
    text-align: center;
    .h3 {
      margin-bottom: 0.5rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @include respond-to('md') {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    position: relative;
    overflow: hidden;

    &__image {
      width: 100%;

      .ratio-image {
        width: 100%;
      }
      img {
        transition: 0.8s var(--ease-smooth);
      }
      &::after {
        @include overlay(
          linear-gradient(
            180deg,
            rgba(#21609d, 0) 65%,
            var(--color-charcoal-grey) 100%
          )
        );
        opacity: 0.8;
        transition: 0.8s var(--ease-smooth) 0.1s;
      }
    }

    // Dark overlay

    &:hover {
      box-shadow: var(--shadow-lg);

      img {
        transform: scale(1.05);
      }
      &::after {
        opacity: 1;
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem;

      color: var(--color-white);
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1rem;

      h4 {
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-medium);
        margin: 0;
        color: var(--color-white);
        max-width: 70%;
      }
    }
  }
}

.service {
  background: var(--color-soft-alabaster);
  &__list {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
  }
  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 1.5rem; // 24px

    @include big-tablet-only {
      .h2 {
        font-size: 36px;
        line-height: 1.2;
        font-weight: var(--font-weight-semibold);
      }
      .p {
        font-size: 1rem;
      }
      .service__block {
        &__cta {
          flex-direction: column;
          align-items: flex-start;
        }
        &__image {
          width: calc(60% - 0.75rem);
        }
        &__content {
          width: calc(40% - 0.75rem);
        }
      }
    }

    &__image {
      width: calc(50% - 0.75rem);
      aspect-ratio: 609 / 444;

      @include mobile-only {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      width: calc(50% - 0.75rem);
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include mobile-only {
        width: 100%;
        order: 1;
      }
    }

    &__cta {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0.5rem;
      gap: 1.5rem;

      @include mobile-only {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
.contact-cta {
  background-color: var(--color-secondary); // Mellow Apricot
  position: relative;
  .bg {
    width: 27%;
    height: 100%;

    &__image {
      opacity: 0.06;
      top: 50%;
      height: 120%;
      width: 100%;
      transform: translate(-10%, -57%);

      img {
        object-fit: cover;
        object-position: right center;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    @include mobile-only {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__intro {
    display: flex;
    width: calc(50% - 0.75rem);
    max-width: 590px;
    justify-content: flex-end;
    flex: 1;

    .h2 {
      width: 100%;
      max-width: 460px;
      line-height: 115%;
      margin: 0;
      color: var(--color-black);
    }
  }

  &__info {
    width: calc(50% - 0.75rem);
    max-width: 515px;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-card {
    &__content {
      max-width: 250px;
    }
  }

  &__showroom-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 2rem;

    dt {
      font-weight: var(--font-weight-medium);
      width: 100px;
    }
    dd {
      margin: 0;
    }
  }
}

@include respond-to('xl') {
  .hero {
    &__bg {
      aspect-ratio: unset;
      width: 100%;
      height: 100%;
      &-image {
        object-fit: cover;
        object-position: left;
      }
      &-woman {
        display: none;
      }
    }
  }
  .sale {
    &__label {
      span {
        font-size: 1rem;
      }
    }
  }
}
@include respond-to('mobile-menu') {
  .hero {
    &__inner {
      min-height: 100vh;
    }
    &__news {
      .product-card {
        width: 180px;
        padding: 0.75rem;
      }
    }
  }
  .service {
    &__block {
      flex-direction: column;

      &__cta {
        flex-direction: column;
        align-items: flex-start;
      }
      &__image {
        width: 100%;
      }
      &__content {
        width: 100%;
      }
    }
  }

  .contact-cta {
    .bg {
      width: 50%;
    }
    &__inner {
      flex-direction: column;
    }
    &__intro {
      width: 100%;
      max-width: unset;
      .h2 {
        width: 100%;
        text-align: center;
        max-width: unset;
      }
    }
    &__info {
      .contact-card {
        justify-content: center;
      }
      width: 100%;
      max-width: 500px;
    }
  }
}
@include respond-to('md') {
  .hero {
    &__bg {
      &-image {
        object-position: 35% bottom;
      }
    }
    &__news {
      display: none;
    }
  }
  .sale {
    &__inner {
      flex-direction: column;
      gap: 1.5rem;
      padding-bottom: 3rem;
      text-align: center;
    }
    &__content {
      display: contents;
      text-align: center;

      .btn {
        order: 1;
      }
    }
    &__banner {
      width: 100%;
    }
  }
}
@include respond-to('sm') {
  .hero {
    &__bg {
      &:after {
        height: 70%;
      }
      &-image {
        object-position: 38% bottom;
      }
    }
    &__news {
      display: none;
    }
  }
  .sale {
    &__label {
      display: none;
    }
  }
}
